<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="me.anon.grow.sync"
>
	<application
		android:allowBackup="true"
		android:supportsRtl="true"
	>
		<receiver android:name=".SaveBroadcastReceiver" android:exported="true" android:enabled="true">
			<intent-filter>
				<action android:name="me.anon.grow.ACTION_SAVE_PLANTS" />
			</intent-filter>
		</receiver>
	</application>
</manifest>
